@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@500&display=swap');

* {
    font-family: 'Barlow', sans-serif;
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body {
    background-image: url(../back/backround.jpeg);
    background-attachment: local;
}

h1,
h2 {
    text-align: center;
    color: aliceblue;
    font-size: 1, 4em;
}

p {
    padding: 1em;
    text-align: center;
    color: aliceblue;
    font-size: 1.4em;
    line-height: 1.7;
}

.botonera img {
    width: 150px;
}

.botonera {
    background-color: rgb(234, 240, 115, 0.3);
}

.botonera a {
    color: black;
    text-align: center;
    text-decoration: none;
    line-height: 1, 7;
    padding: 16px;
}

.products {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas:

        "prod1 prod1"
        "prod2 prod3"
        "prod2 prod3";
    gap: 5px;
    padding: 20px;
    width: 100%;
}

figure a {
    text-decoration: none;
    color: aliceblue;
}

.container {
    width: 90%;
    margin: 0 auto;
}

main {
    color: aliceblue;
    text-align: center;
    background-color: rgba(241, 241, 180, 0.2);
}

footer {
    padding: 8px 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

footer svg {
    fill: whitesmoke;
    margin-right: 10px;
    width: 20px;
    height: 20px;
    margin-top: 10px;
}

footer a {
    display: flex;
    text-decoration: none;
    color: aliceblue;
    text-align: center;
    font-size: 1.2em;
}

div ul li {
    text-align: center;
}


figure {
    width: 100%;
    margin-bottom: 20px;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
}

.image {
    width: 50%;
}

.banner {
    width: 100%;
    padding: 10px 20px;
}

.local {
    width: 90%;
    display: inline-block;
}

.filters {
    padding: 0 20px 30px;
}

.filters a {
    color: rgb(237, 233, 161);
    font-size: 0.9em;
    text-decoration: none;
    margin-bottom: 4px;
}

.filters a:hover {
    color: rgb(209, 216, 130);
}

.filters span {
    display: block;
    color: rgb(235, 226, 157);
    margin: 10px 0;
    letter-spacing: 1px;
    font-size: 0.8em;
    font-weight: 300;
}

.filters label {
    font-size: 0.8em;
    font-weight: 300;
}

.filters select {
    color: rgb(16, 15, 15);
    border: none;
    background-color: rgb(202, 211, 124);
    margin-bottom: 10px;
    font-size: 1em;
}

.filters li {
    padding-left: 10px;
    list-style-type: none;
}

.actions {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 10px 0;
}

.actions button:hover {
    margin-left: 10px;
    background-color: rgb(237, 235, 129);
    color: rgb(16, 16, 16);
    padding: 6px;
    border: none;
    border-radius: 3px;
}

.actions input {
    padding: 6px;
    border-radius: 3px;
    border: none;
    background-color: rgb(255, 255, 255);
}

.tienda {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas:
        "actions actions actions"
        "filters prod1 prod1"
        "filters prod2 prod3"
        "filters prod2 prod4";
    gap: 5px;
    padding: 20px;
    width: 100%;
}

.tienda .actions {
    padding: 0 20px;
    grid-area: actions;
}

.tienda .filters {
    grid-area: filters;
}

.tienda .prod1,
.tienda .prod2,
.tienda .prod3,
.tienda .prod4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
    grid-area: auto;
}

.actions button:hover,
.tienda .prod1 button:hover,
.tienda .prod2 button:hover,
.tienda .prod3 button:hover,
.tienda .prod4 button:hover {
    color: black;
    background-color: rgb(237, 235, 129);
    padding: 6px;
    border: none;
    border-radius: 3px;
}

button:hover,
.tienda .prod1 button:hover,
.tienda .prod2 button:hover,
.tienda .prod3 button:hover,
.tienda .prod4 button:hover {
    color: black;
    background-color: rgb(237, 235, 129);
    padding: 6px;
    border: none;
    border-radius: 3px;
}




@media (width < 768px) {
    .products figure {
        width: 100%;
    }

    .products figure button {
        width: 70%;
    }

    .cuerpo {
        width: 100%;
    }

    .nav {
        align-items: center;
        width: 100%;
        flex-direction: row;
    }

    .nav ul li {
        width: auto;
        padding: 30px 10px;
        width: 100%;
        position: sticky;
        left: 10%;
        top: 0%;
        display: flex;
        flex-direction: row
    }


    .tienda {
        display: grid;
        grid-template-rows: auto auto auto;
        grid-template-areas:
            "filters actions"
            "filters prod1"
            "filters prod2"
            "filters prod3"
            "filters prod4";
    }

    .tienda .prod1 button:hover,
    .tienda .prod2 button:hover,
    .tienda .prod3 button:hover,
    .tienda .prod4 button:hover {
        color: cornsilk;
        background-color: black;
    }