* {
    $mainFont: 'Barlow', sans-serif;
     box-sizing: border-box;
}



body {
    background-image: url(../back/backround.jpeg);
    background-attachment: local;
}


p {
    padding: 1em;
    text-align: center;
    color: aliceblue;
    font-size: 1.4em;
    line-height: 1.7;
}