footer {
    padding: 8px 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

svg {
    fill: whitesmoke;
    margin-right: 10px;
    width: 20px;
    height: 20px;
    margin-top: 10px;
}

 a {
    display: flex;
    text-decoration: none;
    color: aliceblue;
    text-align: center;
    font-size: 1.2em;
}