.botonera{
    background-color: $mainColor;
}
.botoner img{
    width: 150px;
}

.botonera img {
    width: 150px;
}

.botonera {
    background-color: rgb(234, 240, 115, 0.3);
}

.botonera a {
    color: black;
    text-align: center;
    text-decoration: none;
    line-height: 1, 7;
    padding: 16px;
}
